[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bmbodj (bmbodj)
[access "refs/for/refs/*"]
	read = group user/bmbodj (bmbodj)
	push = group user/bmbodj (bmbodj)
	label-Code-Review = -2..+2 group user/bmbodj (bmbodj)
	label-Verified = -1..+1 group user/bmbodj (bmbodj)
	rebase = group user/bmbodj (bmbodj)
	removeReviewer = group user/bmbodj (bmbodj)
	submit = group user/bmbodj (bmbodj)
[access "refs/heads/*"]
	read = group user/bmbodj (bmbodj)
	create = group user/bmbodj (bmbodj)
	push = +force group user/bmbodj (bmbodj)
	pushMerge = group user/bmbodj (bmbodj)
[access "refs/tags/*"]
	push = group user/bmbodj (bmbodj)
	push = +force group user/bmbodj (bmbodj)
[project]
	description = Blockish project delivery 1
[receive]
	requireSignedOffBy = true
